# Python virtual environments
.venv/
venv/
server/.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Node dependencies
node_modules/

# Vite build
dist/

# local database
instance/